<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148732497900-16hefbrlnc1qv0qua6lk18fr7tmv338g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148732497900-16hefbrlnc1qv0qua6lk18fr7tmv338g</string>
	<key>API_KEY</key>
	<string>AIzaSyCBLJpZUaRD2xhErkxxSvcfux-D24paO1Y</string>
	<key>GCM_SENDER_ID</key>
	<string>148732497900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTestAuth</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-crud-f79b3</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-crud-f79b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148732497900:ios:31bbca37586dc884133ac9</string>
</dict>
</plist>